In [3]:
import requests
import json
api_key = "b58723e823c3a04d97a9fc28d798fb84"
api_link = "https://api.themoviedb.org/3"
header = {"accept" : "application/json"}

In [32]:
# TMDb 1.1
# Send Feedback
# Find the 'id' of the movie "Andhadhun" using TMDb API.
# Output Format:
# Print the id of the movie.

In [33]:
response = requests.get(api_link + '/search/movie', params = {"query" : "Andhadhun", "api_key" : api_key}, headers = header).json()
result = response["results"]
for i in result:
    print(i["id"])

534780

In [34]:
# Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [43]:
r = requests.get(api_link + "/search/company", params = {"query" : "Marvel Studios", "api_key" : api_key}, headers = header).json()
# print(r)
result = r["results"][0]
print(result["id"])

420

In [44]:
# TMDb 1.3
# Send Feedback
# Find the vote count and vote average of the movie "3 Idiots" using the TMDb API
# Output format: Vote Count , Vote Average

In [48]:
r = requests.get(api_link + "/search/movie", params = {"query" : "3 Idiots", "api_key" : api_key}, headers = header).json()
print(r)
for i in r["results"]:
    print(i["vote_count"], i["vote_average"])

{'page': 1, 'results': [{'adult': False, 'backdrop_path': '/u7kuUaySqXBVAtqEl9vkTkAzHV9.jpg', 'genre_ids': [18, 35], 'id': 20453, 'original_language': 'hi', 'original_title': '3 Idiots', 'overview': 'Rascal. Joker. Dreamer. Genius... You\'ve never met a college student quite like "Rancho." From the moment he arrives at India\'s most prestigious university, Rancho\'s outlandish schemes turn the campus upside down—along with the lives of his two newfound best friends. Together, they make life miserable for "Virus," the school’s uptight and heartless dean. But when Rancho catches the eye of the dean\'s sexy daughter, Virus sets his sights on flunking out the "3 idiots" once and for all.', 'popularity': 25.017, 'poster_path': '/66A9MqXOyVFCssoloscw79z8Tew.jpg', 'release_date': '2009-12-23', 'title': '3 Idiots', 'video': False, 'vote_average': 7.985, 'vote_count': 2078}], 'total_pages': 1, 'total_results': 1}
2078 7.985

In [49]:
# TMDb 1.4
# Send Feedback
# Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.
# Note
# While fetching the movie id, use the "original_title" field not the "title". Because the "title" field may contain duplicate values.
# Output Format:
# Print the name of the movies in a new line.
# movie_name_1
# movie_name_2
# and so on

In [71]:
r = requests.get(api_link + "/search/movie", params = {"query" : "Inception", "api_key" : api_key}, headers = header).json()
# print(r)
for i in r["results"]:
    if i["original_title"] == "Inception":
        movie_id = i["id"]
print(movie_id)
res = requests.get(api_link + f"/movie/{movie_id}/similar", params = {"api_key" : api_key}, headers = header).json()
for i in similar_movies["results"][:5]:
    print(i["title"])

27205
Confidential Assignment
Police Story
Spies Like Us
Waking Life
Hot Shots! Part Deux

In [1]:
# TMDb 1.5
# Send Feedback
# Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.
# Note: Do not use the search/movies API for finding genres.
# Output Format:
# movie_name_1 - genre_1, genre_2 ....
# and so on..

In [21]:
r = requests.get(api_link + "/movie/top_rated", params = {"api_key" : api_key}, headers =header).json()
results = r.get("results")
# print(results)
r1 = requests.get(api_link + "/genre/movie/list", params = {"api_key" : api_key}, headers =header).json()
# print(r1)
for i in results:
    if i["original_language"] == "en":
        print(i["original_title"], end = "-")
        for genre_id in i["genre_ids"]:
            for value in r1["genres"]:
                if genre_id == value["id"]:
                    print(value["name"], end = ", ")
        print()

The Godfather-Drama, Crime,
The Shawshank Redemption-Drama, Crime,
The Godfather Part II-Drama, Crime,
Schindler's List-Drama, History, War,
12 Angry Men-Drama,
The Dark Knight-Drama, Action, Crime, Thriller,
The Green Mile-Fantasy, Drama, Crime,
Pulp Fiction-Thriller, Crime,
Forrest Gump-Comedy, Drama, Romance,
The Lord of the Rings: The Return of the King-Adventure, Fantasy, Action,
GoodFellas-Drama, Crime,
The Boy, the Mole, the Fox and the Horse-Animation, Family, Adventure, Fantasy,
Primal: Tales of Savagery-Action, Adventure, Animation, Drama,

In [25]:
# TMDb 2.2
# Send Feedback
# Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.
# Output Format
# Print the Instagram and Twitter IDs space separated.
# instagram_id twitter_id

In [31]:
r = requests.get(api_link + "/search/person", params = {"query" : "Alia Bhatt", "api_key" : api_key}, headers =header).json()
alia_id = r["results"][0]["id"]
r1 = requests.get(api_link + f"/person/{alia_id}/external_ids", params = {"api_key" : api_key}, headers =header).json()
# print(r1)
print(r1["instagram_id"], r1["twitter_id"])

aliaabhatt Aliaa08

In [32]:
# TMDb 2.4
# Send Feedback
# Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [43]:
r = requests.get(api_link + "/search/person", params = {"query" : "James McAvoy", "api_key" : api_key}, headers =header).json()
id = r["results"][0]["id"]
r1 = requests.get(api_link + f"/person/{id}/movie_credits", params = {"api_key" : api_key}, headers =header).json()
# print(r1)
movies = r1["cast"]
flag = False
for details in movies:
    if details["original_title"] == "Deadpool 2":
        flag = True
        break
if flag == True:
    print("true")
else:
    print("false")

true

In [44]:
# TMDb 3.1
# Send Feedback
# Fetch the overview of the TV Show "FRIENDS" using TMDb API.
# Output Format:
# Print the Overview.

In [48]:
r = requests.get(api_link + "/search/tv", params = {"query" : "FRIENDS", "api_key" : api_key}, headers =header).json()
print(r["results"][0]["overview"])

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.

In [49]:
# TMDb 3.2
# Send Feedback
# Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.
# Output Format:
# episode_name - air_date

In [55]:
r = requests.get(api_link + "/search/tv", params = {"query" : "Big Bang Theory", "api_key" : api_key}, headers =header).json()
id = r["results"][0]["id"]
r1 = requests.get(api_link + f"/tv/{id}/season/06/episode/05", params = {"api_key" : api_key}, headers =header).json()
# print(r1)
print(r1["name"], r1["air_date"])

The Holographic Excitation 2012-10-25